
.containCenterGestionSection {
	margin-top: 50px;
	font-size: 16px;
	color: #FFFFFF;
	height: 500px;
	width: 770px;
	float: left;
	border-style: double;
	background-color: rgba(0,0,100,0.1);
}


.buttonAjouter
{
	display: inline-block;
	background-color: #0D3349;
	color: #D2E0E6;
	width: 100px;
	height: 40px;
	text-align: center;
	font-size: 16px;
	border-style: double;
	margin-top: 20px;
}
